/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #0f0f0f;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  position: absolute;
  left: 50%;
  top: 50%;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #ffffff, -20px 0 rgba(255, 255, 255, 0.133);
    background: #ffffff;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 rgba(255, 255, 255, 0.133);
    background: rgba(255, 255, 255, 0.133);
  }
  66% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0.133), -20px 0 #ffffff;
    background: rgba(255, 255, 255, 0.133);
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}
